body {
    background-image: url(./background.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.input {
    margin: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    background-color:whitesmoke;
}

button {
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    background-color:cadetblue;
    margin-bottom: 30px;
    transition: .3s ease;
}

button:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.08);
}

.forget {
    transition: .3s ease;
}

.forget:hover {
    cursor: pointer;
    color: cadetblue;
    transform: scale(1.08);
}

.login {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.contenedor {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    text-align: center;
}
